# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
!/public/
/public/**
!/public/admin/
/public/admin/**
.DS_Store

#cms
!/public/admin/config.yml
