backend:
  name: git-gateway
  branch: master

media_folder: public/assets
public_folder: /assets

collections:
  - label: "Albums"
    name: "Albums"
    files:
      - label: "Home"
        name: "home"
        file: "data/albums.yaml"
        fields:
          - label: "Albums"
            name: "albums"
            widget: list
            fields:
                - {label: "Artist", name: "artist", widget: string }
                - {label: "Title", name: "title", widget: string }
                - {label: "Image", name: "image", widget: string }
                - {label: "Apple Link", name: "apple_link", widget: string }
                - {label: "Link", name: "link", widget: string }
                - {label: "Content", name: "content", widget: string }
  - label: "Albums"
    name: "Individual Albums"
    folder: "data/albums"
    create: true
    slug: "{{slug}}-{{year}}-{{month}}-{{day}}"
    editor:
      preview: false
    fields:
      - {label: "Artist", name: "artist", widget: string }
      - {label: "Title", name: "title", widget: string }
      - {label: "Image", name: "image", widget: string }
      - {label: "Apple Link", name: "apple_link", widget: string }
      - {label: "Link", name: "link", widget: string }
      - {label: "Content", name: "content", widget: string }
      - {label: "Published Date", name: "published_date", widget: datetime }

